<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="container">
    <h1>Sumo Wrestlers</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        <% for (let wrestler of data) { %>
          <tr>
            <td>
              <a href="/wrestler/<%= wrestler.id %>"><%= wrestler.name %></a>
            </td>
            <td>
              <%= wrestler.weight %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</body>

</html>